/* Add this to your App.css file or wherever you have your styles */
* {
  background-color: #fcfbf4;
}
.App {
  display: flex;
  justify-content: space-between;
  color: lightpink;
}

.journal-section {
  flex: 30%;
  padding: 5%;
  width: 50%;
  height: 100%;
  margin-left: 20px;
}

.entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.entry {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.entry:hover {
  transform: translateY(-5px);
}

.entry p {
  margin: 0;
}

.textarea-container {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
  overflow-wrap: break-word;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 4px solid #ddd;
  transition: border-color 0.3s ease;
}

textarea:focus {
  outline: none;
  border-color: darkgrey;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnSearchSong {
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.calendar-section {
  flex: 5%;
  padding: 1%;
  width: 30%;
}

/* Calendar styling */
.react-calendar {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  color: #333;
}

.react-calendar__navigation__label {
  color: #333;
}

.react-calendar__navigation__arrow {
  background-color: #333;
  color: #fff;
}

.react-calendar__navigation__arrow:hover {
  background-color: #666;
}

.music-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-top: 1%;
}
